<div style="display:block"><img class="author headshot" src="http://www.isaacmoldofsky.com/LitCenter/isaac_square.jpg">Made by <a style="decoration:none" href="http://isaacmoldofky.com">Isaac Moldofsky</a>.</div><br>
<div style="display:block">
	<img class="author headshot" src="http://www.isaacmoldofsky.com/LitCenter/fahrenbacher.jpg">
Thanks to <a style="decoration:none" href="http://fahrenbacher.com">Mr. Fahrenbacher</a> for being such a great teacher, and for helping me get started with this (in Javascript, nonetheless).
	</div><br>
Shout out to everyone at <a style="decoration:none" href="http://devbootcamp.com">Dev Bootcamp Chicago</a> for being awesome!!