<% if Tutorability.where("user_id=?",session[:user_id]).length>0%><form action ='/updateabils' method='post'>
<%["Algebra 1 Regular","Algebra 1 Honors", "Algebra 1 Advanced", "Geometry Regular", "Geometry Advanced", "Geometry Honors", "Algebra 2 Regular", "Algebra 2 Advanced", "Algebra 2 Honors"].each do |klass|%>
<h4><%=klass%>
<input name='<%=klass%>' type='number' max='10' min='0' <%if User.find(session[:user_id]).tutorabilities.where("class_name=?",klass).first%>value=<%=User.find(session[:user_id]).tutorabilities.where("class_name=?",klass).first.ability%>
<%else%>
placeholder=
<%='0-10'%>
<%end%>
>
</h4>

<%end%>
<input type='submit'>
</form>
<%end%>
